// Font-size
$text-ms: 8px;
$text-xs: 10px; // font-size xs
$text-s: 12px; // font-size s
$text-sm: 14px; // font-size sm
$text-md: 16px; // font-size md
$text-lg: 18px; // font-size lg
$text-xl: 20px; // font-size xl
$text-xxl: 24px; // font-size xxl

// Colors
$giphy-black: #121212;
$giphy-darkest-grey: #212121;
$giphy-dark-grey: #2e2e2e;
$giphy-dark-charcoal: #3e3e3e;
$giphy-charcoal: #4a4a4a;
$giphy-light-charcoal: #5c5c5c;
$giphy-light-grey: #a6a6a6;
$giphy-lightest-grey: #d8d8d8;
$giphy-whitesmoke: #ececec;
$giphy-white: #ffffff;
/* primary */
$giphy-blue: #00ccff;
$giphy-green: #00ff99;
$giphy-purple: #9933ff;
$giphy-red: #ff6666;
$giphy-yellow: #fff35c;
/* secondary */
$giphy-aqua: #00e6cc;
$giphy-lightblue: #3191ff;
$giphy-indigo: #6157ff;
$giphy-pink: #e646b6;

$gradient-colors: (
  rgb(0, 204, 255),
  rgb(153, 51, 255),
  rgb(230, 70, 182),
  rgb(255, 249, 170),
  rgb(0, 255, 153),
  rgb(0, 204, 255)
);
