// Font-size
$text-ms: 8px;
$text-xs: 10px; // font-size xs
$text-s: 12px; // font-size s
$text-sm: 14px; // font-size sm
$text-md: 16px; // font-size md
$text-lg: 18px; // font-size lg
$text-xl: 20px; // font-size xl
$text-xxl: 24px; // font-size xxl
