/* Primeng */
@import './scss/primeng.scss';
@import 'primeicons/primeicons.css';

/* Prime Flex */
@import './scss/primeflex.scss';

@import './scss/breakpoint';
@import './scss/variables';

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: $giphy-white;
  background-color: $giphy-black;
}

button {
  padding: 0;
  background: transparent;
}

@keyframes bouncer {
  to {
    transform: scale(1.75) translateY(-20px);
  }
}
